@media (max-width: 1600px) {
    .container {
      max-width: 1060px;
    }
    .footer-container {
      max-width: 1060px;
    }
  }
  
  @media (max-width: 1200px) {
    .container {
      max-width: 680px;
    }
    .footer-container {
      max-width: 680px;
    }
    .lds-roller {
      left: 47%;
      top: 26%;
    }
  }
  
  @media (max-width: 820px) {
    .swiper-btn {
      display: none;
    }
    .lds-roller {
      left: 45%;
      top: 26%;
    }
  }
  
  @media (max-width: 700px) {
    .container {
      max-width: 440px;
      padding: 0 10px;
    }
    .footer-container {
      max-width: 440px;
    }
    .swiper-outer {
      max-width: 300px;
      margin: 0 auto;
    }  
    .search-tia {
      display: none;
    }  
    .micro-button {
      display: none;
    }
    .search-clear {
      right: 100px;
    }
    .search-input {
      padding-right: 50px;
    }
    .lds-roller {
      left: 45%;
      top: 26%;
    }
  }
  
  @media (max-width: 500px) {
    .search {
      flex-direction: column;    
    }
    .search .search-input {
      width: 300px;
      padding-left: 10px;
      padding-right: 10px;
      background-image: none;
      margin-bottom: 20px;
    }
    .search-clear {
      display: none;
    }
    .search-btn {
      width: 300px;
      min-height: 44px;
    }
    .footer-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 120px;    
    }
    .rss {
      margin-bottom: 20px;
    }
    .info {
      margin-top: 65px;
      margin-bottom: 0;
    }
    .header h1 {
      font-size: 40px;
    }
    
    .lds-roller {
      left: 43%;
      top: 31%;
    }
}